.contenido-eq{
    background-color:rgba(0, 214, 201, .15);
    width: 100%;
}

.contenido-eq-list{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}



.contenido-eq h1{
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
    margin: 0;
}
