.contenido-mi{
    /* width: 150px; */
}
.contenido-mi img{
    display: block;
    border-radius: 30%;
    width: 80px;
    height: 80px; 
    margin-left: auto;
    margin-right: auto;
}

.contenido-mi p{
    text-align: center;
}